body {
    background-color: aquamarine;
    margin: 30px 20px 30px 30px;
}

.container {
    padding-top: 10px;
    background-color: white;
    border-radius: 10px;
    width: available;
    padding-bottom: 20px;
    margin: 100px 100px 100px 100px;
    border: 2px solid red;
}


hr {
    border: solid 1.5px lightgray;
    width: 100%;
}

#image {
    height: 200px;
    width: 200px;
    border-radius: 40px;
    position: relative;
    padding-left:10px;
}


#edit {
    position: absolute;
    top: 45%;
    left: 26%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: lightgray;
    color: white;
    font-size: 10px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    visibility: hidden;
}

.firstchild, .secondchild {
    width: 500px;
}

.firstchild {
    padding-left: 100px;
}

table {
    border-collapse: separate;
    border-spacing: 0 15px;
}

.secondchild tr td:first-child {
    text-decoration-color: black;
    font-weight: bold;
    font-size: large;
    text-align: right;
}

.file-upload {
    display: none;
    visibility: hidden;
}
