body {
    background: black;
}

.out-container {
    background: #add8e6;
    width: 900px;
    margin: 50px 200px 40px 200px;
}

.out-container h2 {
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.in-container {
    background: white;
    margin: 29px;
    padding: 28px;
    border-radius: 4px;
}

.in-container p {
    text-align: center;
}

table {
    margin-left: 20px;
}

input[type="text"], input[type="number"] ,input[type='email']{
    width: 300px;
}

table tr td:first-child {
    text-align: right;
    width: 50%;
}
.errormsg{
    border:1px solid red;
}

table tr td {
    padding: 6px 6px 6px 0px;
    text-align: left;
}

input[type="checkbox"] {
    border: 2px solid #ddd;
}



* {
    box-sizing: border-box;
}




h1 {
    text-align: center;
}

input[type='text'],input[type='email'] {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}


/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #4CAF50;
}


